html {
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
  }

  /* Fonts from Google Fonts - more at https://fonts.google.com */
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

  body {
    background-color: white;
    font-family: "Open Sans", sans-serif;
    padding: 5px 25px;
    font-size: 1rem;
    margin: 0;
    color: #444;
  }

  h1 {
    font-size: 2rem;
  }

  article {
    background-color: #f2ebeb;
    margin-bottom: 10px;
    padding: 0.4rem;
  }

  article h4 {
    color: red;
  }

  article img {
    max-width: 800px;
  }
